@import "reset";
@import "variables/global";

.app {
  font-size: var(--font-m);
  font-family: var(--font-family-main);
  background: var(--main-background-color);
  color: var(--primary-text-color);
  cursor: url('/src/shared/assets/icons/cursor.svg') 4 12;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}

.modal {
  background-color: var(--sidebar-bg);
  border-radius: 15px;
  padding: 40px 64px;
}

