@import "reset";
@import "variables/global";

.app {
  font-size: var(--font-m);
  font-family: var(--font-family-main);
  background: var(--main-background-color);
  color: var(--primary-text-color);
  cursor: url("/src/shared/assets/icons/cursor.svg") 2 2, default;

}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}

.modal {
  background-color: var(--sidebar-bg);
  border-radius: 15px;
  padding: 40px 64px;
  border: 1px solid var(--permission-border-color);
  box-shadow: -30px 30px 50px 0 rgb(28 28 30 / 10%);
}

.searchBox {
  padding: 10px;
  width: 100%;
}

.searchWrapper {
  border-radius: 15px !important;
  padding: 10px !important;
  max-width: 423px;
  min-width: 423px;
  width: 100%;
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; 
}

.optionListContainer {
  border-radius: 15px !important;

}

.optionContainer {
  border: none !important;
}

.icon_down_dir {
  top: 40% !important;
}

@media (max-width: 650px) {
  .modal {
    padding: 20px 34px;

  }

  .searchWrapper {
    min-width: 100%;
  }
}