@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --font-family-main: "Montserrat", sans-serif;
  --font-size-s: 16px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) / var(--font-family-main);
  --font-size-m: 18px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) / var(--font-family-main);
  --font-size-l: 26px;
  --font-line-l: 48px;
  --font-l: var(--font-size-l) / var(--font-line-l) / var(--font-family-main);
  --font-size-xl: 48px;
  --font-size-2xl: 64px;
  --font-size-3xl: 72px;
  --font-size-4xl: 112px;


  // sizes

  --navbar-height: 70px;
  --sidebar-width: 244px;
  --sidebar-collapsed-width: 100px;

  //colors

  --primary-text-color: #424F5E;
  --background-color: #EBEBF0;
  --sidebar-bg: #F9FAFB;
  --button-bg-color: #32C076;
  --button-text-color: var(--sidebar-bg);
  --border-color: #C4C4C403;
  --secondary-text-color: #9494A0;
  --permission-border-color: #C1C1CB;
  --user-hover-background: #EFEFF6;

  // other
  --modal-border-radius: 25px;
}

