button {
  border: none;
  background-color: var(--button-bg-color);
  white-space: nowrap;
  cursor: pointer;
}

.regular {
  padding: 21px;
  color: var(--button-text-color);
  font: var(--font-m);
  font-size: 20px;
  border-radius: 15px;
  font-weight: 450;
}

.thin {
  cursor: pointer;
  background-color: var(--button-bg-color);
  border: none;
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
  text-align: center;
}

.icon {
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}