

.clean {
  background: none;  
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.basic {
  background-color: var(--button-bg-color);
  border-radius: 15px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--button-text-color);
}

.thin {
  background-color: var(--button-bg-color);
  border-radius: 10px;
  flex-shrink: 0;
  font-size: 18px;
  color: var(--button-text-color);
  line-height: 20px;
  text-align: center;
}