.Sidebar {
  display: flex;
  transition: background-color 0.3s, width 0.3s;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
  padding-top: 25px;
  background-color: var(--sidebar-bg);
  row-gap: 26px;
}

.collapsed {
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 0 0;
  background-color: var(--sidebar-bg);
  min-width: var(--sidebar-collapsed-width);
  transition: background-color 0.3s, width 0.3s;
  align-items: center;
}

.BurgerButton {
  cursor: pointer;
  display: flex;
  width: 100%;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.Logo {
  display: flex;
  justify-content: center;
}

.SidebarContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.exitButton {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 19px;
}

.pictureWrapper {
  display: flex;
  width: 60px;
  height: 60px;
}
