.Sidebar {
  display: flex;
  transition: background-color 0.3s, width 0.3s;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  padding-top: 25px;
}

.SidebarContainer {
}

.collapsed {
  display: flex;
  border-radius: 0px 15px 15px 0px;

  width: var(--sidebar-collapsed-width);
  transition: background-color 0.3s, width 0.3s;
  justify-content: center;
}

.BurgerButton { 
  cursor: pointer;
  display: flex; 
  width: 100%;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.Logo {
  display: flex;
  justify-content: center;
}

.SidebarContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.exitButton {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 19px;
}