.Sidebar {
  display: flex;
  width: var(--sidebar-width);
  color: var(--sidebar-bg);
  background-color: var(--sidebar-bg);
  transition: background-color 0.3s, width 0.3s;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  border: 1px black;

}

.collapsed {
  border: 1px black;
  display: flex;
  width: var(--sidebar-collapsed-width);
  background-color: var(--sidebar-bg);
  transition: background-color 0.3s, width 0.3s;
  justify-content: center;
}

.BurgerButton {
  cursor: pointer;
  display: flex;
  width: 100%;
}