.NotFound {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.errorCode {
  font-size: var(--font-size-4xl);
}

.errorText {
  font-size: var(--font-size-l);
  margin-bottom: 20px;
}
