.NotAvailableYet {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: var(--primary-text-color);
}
