.TeamLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-bg);
  flex-grow: 1;
  border-radius: 15px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 19px 29px;
  align-items: center;
  border-bottom: 1px solid var(--background-color);
  column-gap: 96px;
}

.leftBlock {
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 44px;
  font-weight: 500;
}

.rightBlock {
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.usersWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 18px 0;
}

.noUsers {
  width: 100%;
  display: flex;
  justify-content: center;
  font: var(--font-m);
  font-weight: 500;
}

.buttonWrapper {
  max-width: 215px;
}
