.UserOptions {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 22px 26px;
  background-color: var(--sidebar-bg);
  border-radius: 15px;
  row-gap: 17px;
  box-shadow: -30px 30px 50px 0px rgba(28, 28, 30, 0.10);
}

.option {
  white-space: nowrap;
  color: var(--primary-text-color);
  font: var(--font-m);
  display: flex;
  justify-content: start;
}

.option:disabled,
.option[disabled] {
  color: var(--secondary-text-color);
}