.UserLayout {
  display: flex;
  column-gap: 11px;
  width: 100%;
  justify-content: space-between;
  padding: 18px 29px;
}

.UserLayout:hover {
  background-color: var(--user-hover-background);
}

.profilePicture {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
}

.profilePicture img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 50%;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.upperBlock {
  display: flex;
  column-gap: 11px;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.lowerBlock {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.name {
  color: var(--primary-text-color);
  font: var(--font-m);
  font-weight: 600;
}

.email {
  font: var(--font-m);
  color: var(--secondary-text-color);
  font-weight: 450;
}

.permission {
  font: var(--font-s);
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--permission-border-color);
}

.admin {
  border: 1px solid var(--admin-color);
  color: var(--admin-color);
}

.leftBlock {
  display: flex;
  column-gap: 11px;
}

.noPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  background-color: var(--background-color);
  border-radius: 50%;
}

.options {
  position: relative;
}

.isAuthorised {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 450;
}


@media (max-width: 650px) {

  .UserLayout {
    padding: 20px 15px;
  }
  .name {
    font-size: var(--font-mobile-size-m);
    font-weight: 600;
  }

  .email {
    font: var(--font-mobile-m);
    font-size: var(--font-mobile-size-m);

  }

  .upperBlock {
    flex-direction: column;
    align-items: flex-start;
  }

  .permission {
    font-size: var(--font-mobile-size-s);

  }

  .mainInfo {
    row-gap: 4px;
  }
}