.MainPage {
  display: flex;
  background-color: var(--background-color);
  min-height: 100vh;
  justify-content: center;
  padding: 53px 100px 0;
}

.pageWrapper {
  display: flex;
  flex-grow: 1;
  height: fit-content;
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 810px) {
  .MainPage {
    padding: 40px 50px 0;
  }
}

@media (max-width: 710px) {
  .MainPage {
    padding: 40px 20px 0;
  }
}

@media (max-width: 650px) {
  .MainPage {
    padding: 0;
  }
}

